.productlist {
    // padding-bottom: 80px;
    padding: 0 95px 80px 95px;
    min-height: 400px;

    .sub_content {
        width: 100%;
        // padding: 0 95px 80px 95px;
        // box-sizing: border-box;
        // position: relative;

        .content {
            padding-top: 30px;
            width: 100%;
            min-height: 500px;
            padding: 0;

            .location_wrap {
                border-bottom: none 0;
                font-weight: 500;
                width: 100%;

                .location_cont {
                    padding-bottom: 0;
                    padding-top: 10px;
                    padding: 37px 0 0;

                    em {
                        display: block;
                        float: left;
                        padding: 12px 0 2px 0;
                        font-size: 14px;
                        margin-right: 4px;

                        .local_home {
                            color: #242424;
                            font-size: 14px;
                        }
                    }
                    .arr {
                        display: inline-block;
                        border: 2px solid #ccc;
                        border-top: 2px solid transparent;
                        border-left: 2px solid transparent;
                        transform: rotate(-45deg);
                        vertical-align: 3px;
                        margin: 0 10px;
                    }
                    .location_select {
                        display: inline-block;
                        position: relative;
                        // z-index: 50;

                        .location_tit {
                            margin-left: 4px;
                            a {
                                display: block;
                                padding: 12px 0 2px 0;
                                font-size: 14px;
                                color: #242424;

                                span {
                                    display: inline-block;
                                    padding-left: 5px;
                                }
                            }
                        }
                        ul {
                            // display: none;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100px;
                            margin-left: -1px;
                            padding: 6px 0 6px 0;
                            font-size: 0;
                            border: 1px solid #999999;
                            background: #ffffff;

                            li {
                                // padding: 4px 0 4px 9px;
                                a {
                                    display: block;
                                    padding: 4px 5px 5px 10px;
                                    font-size: 11px;

                                    span {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .goods_list_item_tit {
                position: relative;
                padding: 16px 0 30px 0;
                font-size: 14px;

                h2 {
                    font-size: 40px;
                    padding: 0 0 32px;
                    border-bottom: 1px solid #242424;
                    font-weight: 800;
                }
            }

            .list_top_box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 30px;

                .list_info_box {
                    display: flex;
                    align-items: center;
                    font-size: 16px;

                    .filter_open_btn {
                        display: inline-block;
                        padding-left: 0;
                        padding-right: 5px;

                        img {
                            margin-right: 15px;
                            // border: 0 none;
                            vertical-align: sub;
                        }
                        span {
                            color: #242424;
                            margin: 0;
                            font-weight: 400;
                            font-size: 16px;
                        }
                    }

                    span {
                        display: inline-block;
                        color: #888888;
                        margin-left: 25px;
                        font-weight: 300;
                        font-size: 16px;

                        strong {
                            font-weight: 600;
                        }
                    }
                }

                .goods_pick_list {
                    // min-height: 300px;

                    form {
                        input:read-only {
                            background: #f9f9f9;
                            cursor: default;
                        }
                        .pick_list_box {
                            height: 28px;
                            clear: both;

                            .pick_list {
                                display: inline-block;
                                float: left;
                                padding: 0 0 0 10px;

                                li {
                                    float: left;
                                    padding: 5px 0 0;
                                    position: relative;
                                    font-size: 16px;

                                    .radio {
                                        position: absolute;
                                        top: 3px;
                                        left: 1px;
                                        width: 0;
                                        z-index: -1;

                                        height: 13px;
                                        vertical-align: top;
                                    }
                                    label {
                                        padding: 0 0 0 18px;
                                        background: #ffffff;
                                        cursor: pointer;
                                        color: #999999;
                                        font-weight: 300;

                                        // 선호도순 default
                                        &.on {
                                            font-weight: 600;
                                            color: #242424;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .goods_list_flex {
                display: flex;
                overflow: hidden;

                .side_cont {
                    float: none;
                    width: 360px;
                    min-width: 280px;
                    padding-right: 80px;

                    // click: .filter_open_btn
                    &.hidden {
                        display: none;
                    }

                    .sub_search_box {
                        form {
                            input {
                                // background: #f9f9f9;
                                // cursor: default;
                            }
                            #frmSearchDetail {
                                // border: 0 none;
                                // vertical-align: top;

                                .depth1_cate_box {
                                    border-bottom: 1px solid #e5e5e5;
                                    padding-bottom: 14px;
                                    margin-bottom: 35px;
                                }
                            }
                        }
                    }
                }

                .goods_list_item {
                    position: relative;
                    width: 100%;
                    box-sizing: border-box;

                    .goods_list {
                        width: 100%;
                        padding-bottom: 22px;

                        .goods_list_cont {
                            position: relative;
                            width: 100%;

                            .item_basket_type {
                                margin: 0 -15px;

                                ul {
                                    display: flex;
                                    justify-content: center;
                                    flex-wrap: wrap;
                                    width: 100%;
                                    // font-size: 0;

                                    // li.product-card
                                    // li {
                                    //     width: 25%;
                                    //     position: relative;
                                    //     min-height: 50px;
                                    //     margin: 0 0 23px 0;
                                    //     text-align: center;
                                    //     vertical-align: top;
                                    //     font-size: 14px;
                                    //     margin-bottom: 70px;

                                    //     .dn {
                                    //         display: none;
                                    //     }
                                    //     .item_cont {
                                    //         padding: 0 15px;
                                    //         text-align: left;
                                    //         color: #1c1c1c;

                                    //         .item_photo_box {
                                    //             position: relative;
                                    //             display: inline-block !important;
                                    //             overflow: hidden;
                                    //             text-align: center;
                                    //             border: 1px solid #f9f9f9;
                                    //             vertical-align: middle;
                                    //             background: #f9f9f9;
                                    //             width: 100%;

                                    //             a {
                                    //                 display: block;

                                    //                 img {
                                    //                     width: 100%;
                                    //                     transition: 0.6s;
                                    //                 }
                                    //                 .item_link {
                                    //                     position: absolute;
                                    //                     left: 50%;
                                    //                     top: 50%;
                                    //                     transform: translate(
                                    //                         -50%,
                                    //                         -50%
                                    //                     );
                                    //                     width: 100%;
                                    //                     height: 100%;
                                    //                     background: rgba(
                                    //                         0,
                                    //                         0,
                                    //                         0,
                                    //                         0.2
                                    //                     );
                                    //                     display: none;

                                    //                     button {
                                    //                         border: 0;
                                    //                         width: 80px;
                                    //                         height: 80px;
                                    //                         pointer-events: auto;
                                    //                         display: none;
                                    //                     }

                                    //                     .btn_basket_get {
                                    //                         img {
                                    //                         }
                                    //                     }
                                    //                     .btn_basket_cart {
                                    //                         img {
                                    //                         }
                                    //                     }
                                    //                 }
                                    //             }
                                    //         }

                                    //         .item_info_cont {
                                    //             display: block;
                                    //             padding: 20px 0 0 0;
                                    //             text-align: left;
                                    //             vertical-align: middle;
                                    //             font-size: 12px;

                                    //             .item_tit_box {
                                    //                 padding: 0;

                                    //                 input {
                                    //                     // reset
                                    //                     // font-size: 16px;
                                    //                     // line-height: 1.5;
                                    //                     // color: #242424;
                                    //                     // vertical-align: middle;

                                    //                     &:read-only {
                                    //                         background: #f9f9f9;
                                    //                         cursor: default;
                                    //                     }
                                    //                 }
                                    //                 .cate_name {
                                    //                     font-size: 13px;
                                    //                     font-weight: 800;
                                    //                     color: #444;

                                    //                     a {
                                    //                         color: #242424;
                                    //                         text-decoration: none;
                                    //                     }
                                    //                 }
                                    //                 a {
                                    //                     // reset
                                    //                     // color: #242424;
                                    //                     // text-decoration: none;

                                    //                     .item_name {
                                    //                         font-size: 16px;
                                    //                         font-weight: normal;
                                    //                         display: block;
                                    //                         padding: 5px 0 0 0;
                                    //                         word-break: break-all;
                                    //                         overflow: hidden;
                                    //                         text-overflow: ellipsis;
                                    //                         white-space: nowrap;
                                    //                     }
                                    //                 }
                                    //             }

                                    //             .item_money_box {
                                    //                 padding: 29px 0 0 0;
                                    //                 line-height: 1;
                                    //                 display: flex;
                                    //                 justify-content: space-between;
                                    //                 width: 100%;
                                    //                 align-items: center;

                                    //                 .flex_box {
                                    //                     display: flex;
                                    //                     align-items: center;
                                    //                     font-size: 16px;
                                    //                     font-weight: normal;

                                    //                     .item_price {
                                    //                         font-size: 16px;
                                    //                         color: #242424;
                                    //                         font-weight: 700;
                                    //                     }
                                    //                 }
                                    //             }

                                    //             .item_icon_box {
                                    //                 .middle {
                                    //                 }
                                    //             }

                                    //             .item_icon_box {
                                    //                 margin: 10px 0 0;
                                    //                 padding: 0;

                                    //                 img {
                                    //                     display: inline-block;
                                    //                     padding: 5px 3px 0 0;
                                    //                 }
                                    //             }
                                    //         }
                                    //     }
                                    // }
                                }
                            }
                        }
                    }
                }
            }

            .pagination {
                margin: 60px 0;

                ul {
                    text-align: center;

                    li {
                        display: inline-block;
                        vertical-align: middle;

                        button {
                            position: relative;
                            border: none;
                            background-color: transparent;
                            height: 30px;
                            width: 30px;
                            color: #242424;
                            font-size: 16px;

                            &:focus {
                                outline: none;
                            }

                            // 텍스트 숨시고, web accessibility는 가능
                            .text {
                                position: absolute;
                                width: 1px;
                                height: 1px;
                                margin: -1px;
                                padding: 0;
                                overflow: hidden;
                                clip: rect(0, 0, 0, 0);
                                border: 0;
                            }
                        }
                    }

                    .btn_page {
                        margin-right: 10px;
                        min-width: 15px;
                        height: 30xp;

                        button {
                            min-width: 15px;
                        }

                        &.active {
                            button {
                                border-radius: 50%;
                                background-color: #006c68;
                                color: #fff;
                            }
                        }

                        &:hover {
                            button {
                                border-radius: 50%;
                                background-color: rgba(0, 108, 104, 0.3);
                                color: #fff;
                            }
                        }
                    }
                    .btn_page_prev,
                    .btn_page_next {
                        button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 5px 10px;
                            border-radius: 5px;

                            &:hover {
                                background-color: darken(#f0f0f0, 10%);
                            }

                            img {
                                display: inline;
                            }
                        }

                        &.usable {
                            button {
                                background-color: #ececec;
                            }
                        }
                    }
                }
            }
        }
    }
}
