.productlist {
  padding: 0 95px 80px 95px;
  min-height: 400px;
}
.productlist .sub_content {
  width: 100%;
}
.productlist .sub_content .content {
  padding-top: 30px;
  width: 100%;
  min-height: 500px;
  padding: 0;
}
.productlist .sub_content .content .location_wrap {
  border-bottom: none 0;
  font-weight: 500;
  width: 100%;
}
.productlist .sub_content .content .location_wrap .location_cont {
  padding-bottom: 0;
  padding-top: 10px;
  padding: 37px 0 0;
}
.productlist .sub_content .content .location_wrap .location_cont em {
  display: block;
  float: left;
  padding: 12px 0 2px 0;
  font-size: 14px;
  margin-right: 4px;
}
.productlist .sub_content .content .location_wrap .location_cont em .local_home {
  color: #242424;
  font-size: 14px;
}
.productlist .sub_content .content .location_wrap .location_cont .arr {
  display: inline-block;
  border: 2px solid #ccc;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  transform: rotate(-45deg);
  vertical-align: 3px;
  margin: 0 10px;
}
.productlist .sub_content .content .location_wrap .location_cont .location_select {
  display: inline-block;
  position: relative;
}
.productlist .sub_content .content .location_wrap .location_cont .location_select .location_tit {
  margin-left: 4px;
}
.productlist .sub_content .content .location_wrap .location_cont .location_select .location_tit a {
  display: block;
  padding: 12px 0 2px 0;
  font-size: 14px;
  color: #242424;
}
.productlist .sub_content .content .location_wrap .location_cont .location_select .location_tit a span {
  display: inline-block;
  padding-left: 5px;
}
.productlist .sub_content .content .location_wrap .location_cont .location_select ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100px;
  margin-left: -1px;
  padding: 6px 0 6px 0;
  font-size: 0;
  border: 1px solid #999999;
  background: #ffffff;
}
.productlist .sub_content .content .location_wrap .location_cont .location_select ul li a {
  display: block;
  padding: 4px 5px 5px 10px;
  font-size: 11px;
}
.productlist .sub_content .content .location_wrap .location_cont .location_select ul li a span {
  display: inline-block;
}
.productlist .sub_content .content .goods_list_item_tit {
  position: relative;
  padding: 16px 0 30px 0;
  font-size: 14px;
}
.productlist .sub_content .content .goods_list_item_tit h2 {
  font-size: 40px;
  padding: 0 0 32px;
  border-bottom: 1px solid #242424;
  font-weight: 800;
}
.productlist .sub_content .content .list_top_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
.productlist .sub_content .content .list_top_box .list_info_box {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.productlist .sub_content .content .list_top_box .list_info_box .filter_open_btn {
  display: inline-block;
  padding-left: 0;
  padding-right: 5px;
}
.productlist .sub_content .content .list_top_box .list_info_box .filter_open_btn img {
  margin-right: 15px;
  vertical-align: sub;
}
.productlist .sub_content .content .list_top_box .list_info_box .filter_open_btn span {
  color: #242424;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
}
.productlist .sub_content .content .list_top_box .list_info_box span {
  display: inline-block;
  color: #888888;
  margin-left: 25px;
  font-weight: 300;
  font-size: 16px;
}
.productlist .sub_content .content .list_top_box .list_info_box span strong {
  font-weight: 600;
}
.productlist .sub_content .content .list_top_box .goods_pick_list form input:-moz-read-only {
  background: #f9f9f9;
  cursor: default;
}
.productlist .sub_content .content .list_top_box .goods_pick_list form input:read-only {
  background: #f9f9f9;
  cursor: default;
}
.productlist .sub_content .content .list_top_box .goods_pick_list form .pick_list_box {
  height: 28px;
  clear: both;
}
.productlist .sub_content .content .list_top_box .goods_pick_list form .pick_list_box .pick_list {
  display: inline-block;
  float: left;
  padding: 0 0 0 10px;
}
.productlist .sub_content .content .list_top_box .goods_pick_list form .pick_list_box .pick_list li {
  float: left;
  padding: 5px 0 0;
  position: relative;
  font-size: 16px;
}
.productlist .sub_content .content .list_top_box .goods_pick_list form .pick_list_box .pick_list li .radio {
  position: absolute;
  top: 3px;
  left: 1px;
  width: 0;
  z-index: -1;
  height: 13px;
  vertical-align: top;
}
.productlist .sub_content .content .list_top_box .goods_pick_list form .pick_list_box .pick_list li label {
  padding: 0 0 0 18px;
  background: #ffffff;
  cursor: pointer;
  color: #999999;
  font-weight: 300;
}
.productlist .sub_content .content .list_top_box .goods_pick_list form .pick_list_box .pick_list li label.on {
  font-weight: 600;
  color: #242424;
}
.productlist .sub_content .content .goods_list_flex {
  display: flex;
  overflow: hidden;
}
.productlist .sub_content .content .goods_list_flex .side_cont {
  float: none;
  width: 360px;
  min-width: 280px;
  padding-right: 80px;
}
.productlist .sub_content .content .goods_list_flex .side_cont.hidden {
  display: none;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .depth1_cate_box {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 14px;
  margin-bottom: 35px;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .filter_tit dt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 0 28px;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .filter_tit .select_filter_wrap {
  padding-bottom: 20px;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .option_toggle_btn {
  cursor: pointer;
  background: url(/assets/icon/icon-filter-off.png) no-repeat 100% 12px;
  padding: 10px 0 24px 0;
  font-size: 16px;
  font-weight: 500;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .option_toggle_btn.on {
  background: url(/assets/icon/icon-filter-on.png) no-repeat 100% 12px;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .option_toggle_btn.on + dd {
  display: block;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .button_list_wrap dd {
  display: none;
  padding-bottom: 20px;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .button_list_wrap dd .button_list {
  display: flex;
  flex-wrap: wrap;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .button_list_wrap dd .button_list li {
  min-width: calc(25% - 4px);
  margin-right: 5px;
  margin-bottom: 5px;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .button_list_wrap dd .button_list li input {
  display: none;
  width: 13px;
  height: 13px;
  vertical-align: top;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .button_list_wrap dd .button_list li label {
  display: block;
  line-height: 38px;
  border: 1px solid #dddddd;
  text-align: center;
  font-size: 14px;
  color: #cccccc;
  cursor: pointer;
  padding: 0 8px;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .color dd {
  display: none;
  padding-bottom: 20px;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .color dd .color_box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: -6px;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .color dd .color_box li {
  width: 25%;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 19px;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .color dd .color_box li input {
  display: none;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .color dd .color_box li label {
  display: inline-block;
  font-size: 0;
  padding: 0;
  cursor: pointer;
  border: 1px solid transparent;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .color dd .color_box li label .bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  border: 1px solid transparent;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .color dd .color_box li label .bg span {
  background: #ffffff;
  border: 1px solid #ddd;
  width: 40px;
  height: 40px;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .color dd .color_box li label p {
  font-size: 13px;
  padding-top: 5px;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .price_range_wrap dd {
  display: none;
  padding-bottom: 20px;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .price_range_wrap dd #rangeSlider {
  height: 3px;
  border: 0;
  background: #999999;
  margin: 10px 0;
  width: calc(100% - 7px);
  border-radius: 4px;
  box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbbbbb;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .price_range_wrap dd #rangeSlider .noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .price_range_wrap dd #rangeSlider .noUi-base .noUi-connects {
  border-radius: 3px;
  overflow: hidden;
  z-index: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .price_range_wrap dd #rangeSlider .noUi-base .noUi-connects .noUi-connnet {
  transform: translate(0%, 0px) scale(1, 1);
  background: #242424;
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform-origin: 0 0;
  transform-style: flat;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .price_range_wrap dd #rangeSlider .noUi-base .noUi-origin {
  transform: translate(-100%, 0px);
  z-index: 5;
  width: calc(100% - 5px);
  height: 0;
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform-origin: 0 0;
  transform-style: flat;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .price_range_wrap dd #rangeSlider .noUi-base .noUi-origin .noUi-handle {
  width: 14px;
  height: 14px;
  box-shadow: none;
  background: #242424;
  border-radius: 50%;
  top: -5px;
  right: -8px;
  border: 1px solid #d9d9d9;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .price_range_wrap dd #rangeSlider .noUi-base .noUi-origin .noUi-handle .noUi-touch-area {
  height: 100%;
  width: 100%;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .price_range_wrap dd .price_box {
  margin: 30px 0 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .price_range_wrap dd .price_box input {
  border: 1px solid #dddddd;
  height: 40px;
  width: calc(50% - 13px);
  padding: 0 10px;
  line-height: 38px;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .price_range_wrap dd .price_box span {
  padding: 0 6px;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .quick_btn {
  padding-top: 45px;
}
.productlist .sub_content .content .goods_list_flex .side_cont .sub_search_box form #frmSearchDetail .quick_btn input {
  display: inline-block;
  padding: 12px 0px;
  width: 100%;
  text-align: center;
  border: 1px solid #242424;
  background: #242424;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}
.productlist .sub_content .content .goods_list_flex .goods_list_item {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.productlist .sub_content .content .goods_list_flex .goods_list_item .goods_list {
  width: 100%;
  padding-bottom: 22px;
}
.productlist .sub_content .content .goods_list_flex .goods_list_item .goods_list .goods_list_cont {
  position: relative;
  width: 100%;
}
.productlist .sub_content .content .goods_list_flex .goods_list_item .goods_list .goods_list_cont .item_basket_type {
  margin: 0 -15px;
}
.productlist .sub_content .content .goods_list_flex .goods_list_item .goods_list .goods_list_cont .item_basket_type ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 0;
}
.productlist .sub_content .content .pagination {
  margin: 60px 0;
}
.productlist .sub_content .content .pagination ul {
  text-align: center;
}
.productlist .sub_content .content .pagination ul li {
  display: inline-block;
  vertical-align: middle;
}
.productlist .sub_content .content .pagination ul li button {
  position: relative;
  border: none;
  background-color: transparent;
  height: 30px;
  width: 30px;
  color: #242424;
  font-size: 16px;
}
.productlist .sub_content .content .pagination ul li button:focus {
  outline: none;
}
.productlist .sub_content .content .pagination ul li button .text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.productlist .sub_content .content .pagination ul .btn_page {
  margin-right: 10px;
  min-width: 15px;
  height: 30xp;
}
.productlist .sub_content .content .pagination ul .btn_page button {
  min-width: 15px;
}
.productlist .sub_content .content .pagination ul .btn_page.active button {
  border-radius: 50%;
  background-color: #006c68;
  color: #fff;
}
.productlist .sub_content .content .pagination ul .btn_page:hover button {
  border-radius: 50%;
  background-color: rgba(0, 108, 104, 0.3);
  color: #fff;
}
.productlist .sub_content .content .pagination ul .btn_page_prev button,
.productlist .sub_content .content .pagination ul .btn_page_next button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
}
.productlist .sub_content .content .pagination ul .btn_page_prev button:hover,
.productlist .sub_content .content .pagination ul .btn_page_next button:hover {
  background-color: #d7d7d7;
}
.productlist .sub_content .content .pagination ul .btn_page_prev button img,
.productlist .sub_content .content .pagination ul .btn_page_next button img {
  display: inline;
}
.productlist .sub_content .content .pagination ul .btn_page_prev.usable button,
.productlist .sub_content .content .pagination ul .btn_page_next.usable button {
  background-color: #ececec;
}/*# sourceMappingURL=ProductList.css.map */