li.product-card {
    width: 25%;
    position: relative;
    // min-height: 50px;
    margin: 0 0 23px 0;
    text-align: center;
    vertical-align: top;
    font-size: 14px;
    margin-bottom: 70px;
    // list-style: none;

    .item-cont {
        padding: 0 15px;
        text-align: left;
        color: #1c1c1c;

        .item-photo-box {
            position: relative;
            display: inline-block !important;
            overflow: hidden;
            text-align: center;
            border: 1px solid #f9f9f9;
            vertical-align: middle;
            background: #f9f9f9;
            width: 100%;

            a {
                display: block;
                color: #242424;
                text-decoration: none;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    background: rgba(0, 0, 0, 0.03);
                }

                img {
                    display: block;
                    width: 100%;
                    transition: 0.6s;
                    // img reset
                    // border: 0 none;
                    // vertical-align: top;
                }
            }

            // .item-link {}
        }
        .item-info-cont {
            display: block;
            padding: 20px 0 0;
            text-align: left;
            vertical-align: middle;
            font-size: 12px;

            .item-tit-box {
                padding: 0;

                input {
                    // reset
                    // font-size: 16px;
                    // line-height: 1.5;
                    // color: #242424;
                    // vertical-align: middle;

                    &:read-only {
                        background: #f9f9f9;
                        cursor: default;
                    }
                }
                .cate-name {
                    font-size: 13px;
                    font-weight: 800;
                    color: #444;

                    a {
                        color: #242424;
                        text-decoration: none;
                    }
                }
                a {
                    // reset
                    // color: #242424;
                    // text-decoration: none;

                    .item-name {
                        font-size: 16px;
                        font-weight: normal;
                        display: block;
                        padding: 5px 0 0 0;
                        word-break: break-all;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }

            .item-money-box {
                padding: 29px 0 0 0;
                line-height: 1;
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;

                .flex-box {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    font-weight: normal;

                    .item-price {
                        font-size: 16px;
                        color: #242424;
                        font-weight: 700;
                    }
                }
            }

            .item-icon-box {
                margin: 10px 0 0;
                padding: 0;

                img {
                    display: inline-block;
                    padding: 5px 3px 0 0;
                }
            }
        }
    }
}
