.main-md-pick {
    margin-bottom: 70px;

    .md-pick-wrap {
        padding: 0 95px;

        .main-tit {
            font-size: 40px;
            text-align: center;
            font-weight: 800;
            padding-bottom: 37px;
        }

        ul.swiper-wrapper {
            // margin: 0 -5px;

            .md-pick-content {
                // width: 851px;
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                .md-pick-thumb {
                    margin-bottom: 25px;
                    width: 44%;

                    img {
                        max-width: 100%;
                        // 공통
                        border: 0 none;
                        vertical-align: top;
                    }
                }

                .md-pick-product {
                    width: 56%;
                    padding: 0 20px 0 25px;
                    box-sizing: border-box;

                    .goods-list.main-wrap-21 {
                        width: 100%;
                        padding-bottom: 22px;

                        .goods-list-tit {
                            text-align: center;
                            position: relative;

                            h3 {
                                display: none;
                                font-size: 40px;
                                font-weight: 800;
                                padding-bottom: 24px;
                            }
                        }

                        .goods-list-content.goods-content-21 {
                            position: relative;
                            width: 100%;

                            .item-gallery-type {
                                margin: 0;

                                ul {
                                    display: block;
                                    // display: flex;
                                    width: 100%;
                                    font-size: 0;

                                    li {
                                        width: 100%;
                                        // width: 33.33%;
                                        padding: 15px 0;
                                        margin: 0;

                                        &:not(:last-child) {
                                            border-bottom: 1px solid rgba(0,0,0,0.05);
                                        }

                                        .item-cont {
                                            display: flex;
                                            flex-wrap: wrap;
                                            align-items: center;
                                            padding: 0;
                                            
                                            .item-photo-box {
                                                width: 30%;
                                                box-sizing: border-box;
                                                position: relative;
                                                display: inline-block;
                                                overflow: hidden;
                                                text-align: center;
                                                border: 1px solid #f9f9f9;
                                                // vertical-align: middle;
                                                background: #f9f9f9;
                                                // width: 100%;

                                                a {
                                                    display: block;
                                                    // 공통
                                                    color: #242424;
                                                    text-decoration: none;

                                                    img {
                                                        width: 100%;
                                                        transition: 0.6s;
                                                        max-width: 100%;
                                                        // 공통
                                                        border: 0 none;
                                                        vertical-align: top;
                                                    }
                                                }
                                            }

                                            .item-info-cont {
                                                width: 60%;
                                                padding: 0 0 0 20px;
                                                box-sizing: border-box;
                                                display: block;
                                                // padding: 20px 0 0 0;
                                                text-align: left;
                                                // vertical-align: middle;
                                                font-size: 12px;

                                                .item-tit-box {
                                                    padding: 0;

                                                    .cate-name {
                                                        display: none;
                                                        font-size: 13px;
                                                        font-weight: 800;
                                                        color: #444;
                                                    }
                                                    a {
                                                        color: #242424;
                                                        text-decoration: none;

                                                        .item-name {
                                                            font-size: 16px;
                                                            font-weight: normal;
                                                            display: block;
                                                            padding: 5px 0 0;
                                                            // font-size: 13px;
                                                            word-break: break-all;
                                                            overflow: hidden;
                                                            text-overflow: ellipsis;
                                                            white-space: nowrap;
                                                        }
                                                    }
                                                }

                                                .item-money-box {
                                                    white-space: nowrap;
                                                    padding: 29px 0 0 0;
                                                    line-height: 1;
                                                    display: flex;
                                                    justify-content: space-between;
                                                    width: 100%;
                                                    align-items: center;

                                                    .item-price {
                                                        font-size: 16px;
                                                        color: #242424;
                                                        font-weight: 700;
                                                        // font-weight: 600;

                                                        span {
                                                            font-size: 16px;
                                                            color: #242424;
                                                            font-weight: 700;
                                                        }
                                                    }
                                                }

                                                .item-icon-box {
                                                    margin: 10px 0 0;
                                                    padding: 0;

                                                    img {
                                                        max-width: 100%;
                                                        display: inline-block;
                                                        padding: 5px 3px 0 0;
                                                        //공통
                                                        border: 0 none;
                                                        vertical-align: top;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn-goods-down-more {
            margin-top: 35px;
            width: 100%;
            text-align: center;

            a {
                display: inline-block;
                width: 210px;
                line-height: 50px;
                font-size: 16px;
                text-align: center;
                background-color: #242424;
                color: #fff;
                font-weight: 500;
            }
        }

        .swiper {
            .swiper-wrapper {
                min-height: 560px;
            }
            .swiper-slide {
                display: flex;
            }

            .swiper-pagination-bullets {
                // margin: 20px 0;
                bottom: 0px;

                .swiper-pagination-bullet {
                    width: 12px;
                    height: 12px;
                    margin-right: 15px;
                }
                .swiper-pagination-bullet-active {
                    background-color: #0AD09C;
                }
            }
        }

    }
}