@charset "UTF-8";
.brand {
  width: 100%;
}
.brand .brand_section {
  font-size: 22px;
  word-break: keep-all;
  padding: 60px 0;
}
.brand .brand_section .brand_title_wrap {
  position: relative;
}
.brand .brand_section .brand_title_wrap .brand_title {
  font-size: 54px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 0.6em;
}
.brand .brand_section .brand_sub_tit {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 0.7em;
  line-height: 1.5;
}
.brand .brand_section .full_inner {
  text-align: center;
}
.brand .brand_section .full_inner p {
  line-height: 33px;
}
.brand .brand_section .full_inner .brand_img {
  margin: 35px 0;
  text-align: center;
}
.brand .brand_section .full_inner .brand_img:first-child {
  margin-top: 0;
}
.brand .brand_section .full_inner .brand_img img {
  max-width: 100%;
}
.brand .brand_section .layout_inner {
  max-width: 1200px;
  margin: 0 auto;
}
.brand .brand_section .layout_inner .brand_column_wrap,
.brand .brand_section .layout_inner .brand_column_wrap_3 {
  display: flex;
  flex-wrap: wrap;
  margin: 30px -15px 0;
  /*padding: 30px 0;*/
}
.brand .brand_section .layout_inner .brand_column_wrap .brand_column,
.brand .brand_section .layout_inner .brand_column_wrap .column_1,
.brand .brand_section .layout_inner .brand_column_wrap_3 .brand_column,
.brand .brand_section .layout_inner .brand_column_wrap_3 .column_1 {
  padding: 0 15px;
  margin: 20px 0;
  box-sizing: border-box;
}
.brand .brand_section .layout_inner .brand_column_wrap .brand_column p + p,
.brand .brand_section .layout_inner .brand_column_wrap .column_1 p + p,
.brand .brand_section .layout_inner .brand_column_wrap_3 .brand_column p + p,
.brand .brand_section .layout_inner .brand_column_wrap_3 .column_1 p + p {
  margin-top: 0.8em;
}
.brand .brand_section .layout_inner .brand_column_wrap .brand_column dt,
.brand .brand_section .layout_inner .brand_column_wrap .column_1 dt,
.brand .brand_section .layout_inner .brand_column_wrap_3 .brand_column dt,
.brand .brand_section .layout_inner .brand_column_wrap_3 .column_1 dt {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.brand .brand_section .layout_inner .brand_column_wrap .brand_column .brand_img img,
.brand .brand_section .layout_inner .brand_column_wrap .column_1 .brand_img img,
.brand .brand_section .layout_inner .brand_column_wrap_3 .brand_column .brand_img img,
.brand .brand_section .layout_inner .brand_column_wrap_3 .column_1 .brand_img img {
  max-width: 100%;
}
.brand .brand_section .layout_inner .brand_column_wrap .brand_column p,
.brand .brand_section .layout_inner .brand_column_wrap .column_2 p,
.brand .brand_section .layout_inner .brand_column_wrap_3 .brand_column p,
.brand .brand_section .layout_inner .brand_column_wrap_3 .column_2 p {
  line-height: 1.5;
}
.brand .brand_section .layout_inner .brand_column_wrap_2 .column_1 {
  width: 50%;
}
.brand .brand_section .layout_inner .brand_column_wrap_2 .column_2 {
  width: 100%;
  text-align: center;
}
.brand .brand_section .layout_inner .brand_column_wrap_2.line_column {
  position: relative;
  margin: 30px -60px;
}
.brand .brand_section .layout_inner .brand_column_wrap_2.line_column::after {
  content: "";
  width: 1px;
  height: 100%;
  background: #222;
  position: absolute;
  top: 0;
  left: 50%;
  transition: 1.2s;
}
.brand .brand_section .layout_inner .brand_column_wrap_2.line_column[data-aos]::after {
  height: 0;
}
.brand .brand_section .layout_inner .brand_column_wrap_2.line_column[data-aos].aos-animate::after {
  height: 100%;
}
.brand .brand_section .layout_inner .brand_column_wrap_2.line_column > .brand_column {
  padding: 0 60px;
  margin: 0;
}
.brand .brand_section .layout_inner .brand_column_wrap_2.line_column > .brand_column:first-child {
  text-align: right;
}
.brand .brand_section .layout_inner .brand_column_wrap_3 .column_1 {
  width: 33.333%;
}
.brand .brand_section .layout_inner .brand_column_wrap_3 .column_2 {
  width: 66.667%;
}
.brand .brand_section .layout_inner .brand_column_wrap_3 .column_3 {
  width: 100%;
  text-align: center;
}
.brand .brand_section_01 {
  background: url(../../../public/assets/brand/brand_s1_bg.png) no-repeat 50% -50px;
  background-size: 90%;
  padding-top: 120px;
}
.brand .brand_section_01 .brand_column_wrap:first-child {
  align-items: flex-start;
  margin-bottom: -165px;
  position: relative;
  z-index: 2;
}
.brand .brand_section_01 .brand_column_wrap:first-child .column_2 {
  padding-top: 90px;
}
.brand .brand_section_01 .brand_column_wrap:nth-child(2) .column_3 {
  margin-top: 40px;
}
.brand .brand_section_01 .brand_column_wrap:nth-child(3) .column_1:nth-child(3) .brand_img, .brand .brand_section_01 .brand_column_wrap:nth-child(3) .column_1:nth-child(4) .brand_img {
  margin-top: 43px;
}
.brand .brand_section_01 .brand_column_wrap:nth-child(3) .brand_column:nth-child(4) p {
  margin-right: -20px;
}
.brand .brand_section_02 {
  background: url(../../../public/assets/brand/brand_s4_bg.png) no-repeat 80% 100%;
}
.brand .brand_section_02 .brand_column_wrap:nth-child(2) .brand_column:last-child p {
  margin-right: -20px;
}
.brand .brand_section_02 .full_inner:last-child {
  margin-top: 30px;
}
.brand .brand_section_03 .brand_column_wrap:first-child .brand_column {
  margin-top: 50px;
}
.brand .brand_section_03 .line_column {
  padding-bottom: 100px;
}

.align_center {
  text-align: center;
}

.btn_more {
  display: inline-block;
  height: 50px;
  padding: 0 50px;
  margin-bottom: 50px;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  background: #242424;
  color: #fff;
  font-weight: 500;
}

/*
    ! service.css
    ! 나중에 따로 분리
*/
.brand_cont {
  font-size: 22px;
}
.brand_cont .section1 {
  position: relative;
}
.brand_cont .section1 .page_link_wrap {
  position: absolute;
  left: 100px;
  top: 50%;
  z-index: 1;
  transform: translate(0, -50%);
  /* margin-left: -700px;  */
  z-index: 5;
}
.brand_cont .section1 .page_link_wrap li {
  position: relative;
  padding: 8px 0;
}
.brand_cont .section1 .page_link_wrap li + li:before {
  content: "";
  position: absolute;
  left: 17px;
  top: -18px;
  width: 1px;
  height: 36px;
  background: #c0c6c6;
}
.brand_cont .section1 .page_link_wrap li a {
  display: inline-block;
  vertical-align: top;
  padding: 10px 0;
  color: rgba(36, 36, 36, 0.5);
  font-size: 18px;
  font-weight: 500;
}
.brand_cont .section1 .page_link_wrap li.active a {
  font-weight: 600;
  color: #242424;
}
.brand_cont .section1 .page_link_wrap li.active .num {
  background: #303030;
}
.brand_cont .section1 .page_link_wrap li .num {
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 32px;
  margin-right: 20px;
  font-size: 15px;
  color: #fff;
  background: rgba(48, 48, 48, 0.3019607843);
  border: 1px solid rgba(48, 48, 48, 0.5019607843);
  text-align: center;
}
.brand_cont .section1 .page_link_wrap.white li + li:before {
  background: rgba(255, 255, 255, 0.5019607843);
}
.brand_cont .section1 .page_link_wrap.white li a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}
.brand_cont .section1 .page_link_wrap.white li .num {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.3);
}
.brand_cont .section1 .page_link_wrap.white li.active a {
  color: #fff;
}
.brand_cont .section1 .page_link_wrap.white li.active .num {
  background: #0ad09c;
  border-color: #0ad09c;
}
.brand_cont .section1 .page_link_wrap.white li.active a {
  font-weight: 500;
  opacity: 1;
}
.brand_cont .section1 .img_wrap img {
  width: 100%;
}
.brand_cont .section1 .title {
  font-size: 75px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  text-shadow: 0 0 15px black;
  z-index: 3;
}
.brand_cont .inner {
  width: 1200px;
  margin: 0 auto;
}
.brand_cont .t-center {
  text-align: center;
}
.brand_cont .t-right {
  text-align: right;
}
.brand_cont .t-left {
  text-align: left;
}

.section_tit {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.hover_section .img_wrap img {
  width: 100%;
}

.bottom_section {
  position: relative;
}
.bottom_section p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-weight: 300;
  width: 100%;
}

.page_btn {
  display: flex;
  background: #202020;
  padding: 0 95px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.page_btn a {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 40px;
  padding: 90px 0 90px;
}
.page_btn a + a {
  text-align: right;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.page_btn p small {
  display: block;
  font-size: 0.6em;
}
.page_btn a img {
  display: inline-block;
  margin-top: 30px;
}

/* //공통 */
.brand_cont1 .section1 .img_wrap {
  position: relative;
}
.brand_cont1 .section1 .img_wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(60deg, #000, transparent 40%);
  opacity: 0.45;
}
.brand_cont1 .section2 {
  background: url(../../img/service/brand01_map_bg1.png) no-repeat 50% 300px;
}
.brand_cont1 .section2 .box_cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.brand_cont1 .section2 .box_cont > div {
  width: 50%;
}
.brand_cont1 .text {
  padding: 85px 0 100px;
}
.brand_cont1 .section2 .box_cont {
  padding: 64px 0 60px;
}
.brand_cont1 .section2 .box_cont strong {
  font-size: 35px;
  color: #006c68;
  font-weight: 900;
  font-family: "Pretendard";
  padding: 7px 0 5px;
  display: inline-block;
}
.brand_cont1 .section2 .box_cont p + p {
  padding-top: 62px;
}
.brand_cont1 .section3 {
  background: url(../../img/service/brand01_img_bg.png) no-repeat 50% 100%;
  padding-bottom: 222px;
}
.brand_cont1 .section3 .box_cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.brand_cont1 .section3 .box_cont > div {
  width: 50%;
  padding-top: 15px;
}
.brand_cont1 .section3 .box_cont .right_box p {
  padding-left: 25px;
}
.brand_cont1 .section3 .box_cont .left_box p {
  padding-right: 25px;
}
.brand_cont1 .section4 {
  padding: 130px 0 140px;
  background: url(../../img/service/edinburgh_bg.png) no-repeat 50% 50%;
  background-size: cover;
}
.brand_cont1 .section4 .box_cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: #444444;
  padding-top: 80px;
}
.brand_cont1 .section4 .box_cont .right_box {
  width: 48%;
}
.brand_cont1 .section5 {
  padding: 120px 0 160px;
}
.brand_cont1 .section5 .box_cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: #242424;
  padding-top: 80px;
}
.brand_cont1 .section5 .popup_btn {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 60px 0 0;
  cursor: pointer;
}
.brand_cont1 .section5 .popup_btn img {
  margin-left: 74px;
}
.brand_cont1 .section5 .box_cont .right_box {
  position: relative;
}
.brand_cont1 .hover_section {
  padding-bottom: 120px;
}
.brand_cont1 .hover_section .box_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}
.brand_cont1 .hover_section .box_cont > div {
  position: relative;
}
.brand_cont1 .hover_section .text_box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
  text-align: center;
  width: 100%;
}
.brand_cont1 .hover_section .tit {
  display: block;
  width: 100%;
  font-size: 28px;
  font-weight: 600;
}
.brand_cont1 .hover_section .text {
  opacity: 0;
  height: 0;
  width: 100%;
  font-size: 20px;
  transition: all 0.4s;
  padding: 15px 0 0;
  font-weight: 300;
}
.brand_cont1 .hover_section .box_cont > div:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s;
}
.brand_cont1 .hover_section .box_cont > div:hover:before {
  opacity: 1;
}
.brand_cont1 .hover_section .box_cont > div:hover .text {
  opacity: 1;
  height: auto;
}
.brand_cont1 .bottom_section {
  background: url(../../img/service/bottom_bg1.jpg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 30px;
  height: 560px;
}

.brand_cont3 .bottom_section {
  background: url(../../img/service/bottom_bg1.jpg) no-repeat 50% 50%;
  background-size: cover;
  font-size: 30px;
  height: 560px;
}

.brand_cont1 .bottom_section:before,
.brand_cont3 .bottom_section:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

#brand_pop {
  display: none;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  background: #efefeb;
  z-index: 111;
  height: 100vh;
  min-height: 400px;
  overflow: auto;
  width: 100%;
}
#brand_pop h2 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  padding: 60px 0 10px;
}
#brand_pop h3 {
  font-size: 50px;
  text-align: center;
  font-weight: 500;
}
#brand_pop ul {
  display: flex;
  flex-wrap: wrap;
  width: 1420px;
  margin: 0 auto 220px;
}
#brand_pop ul li {
  width: 33.333%;
  text-align: center;
}
#brand_pop ul li p {
  font-size: 30px;
  font-weight: 600;
  padding: 33px 0 15px;
}
#brand_pop ul li span {
  font-size: 20px;
  font-weight: 500;
  font-family: "Pretendard";
}
#brand_pop .popup_cont > img {
  width: 100%;
}
#brand_pop .close_btn {
  position: absolute;
  /*right:60px; top: 70px;*/
  right: 3%;
  top: 5.5%;
  cursor: pointer;
  display: block;
  width: 50px;
  height: 50px;
}
#brand_pop .close_btn:before {
  content: "";
  display: inline-block;
  height: 45px;
  width: 2px;
  display: inline-block;
  background: #222;
  transform: rotate(45deg);
  margin-left: 21px;
}
#brand_pop .close_btn:after {
  content: "";
  display: inline-block;
  height: 45px;
  width: 2px;
  display: inline-block;
  background: #222;
  transform: rotate(-45deg);
}

.brand_cont2 .box_cont {
  display: flex;
  align-items: center;
}
.brand_cont2 .section1 .title {
  margin-top: -140px;
  color: #242424;
  text-shadow: 0 0 15px white;
}
.brand_cont2 .text {
  padding: 85px 0 100px;
}
.brand_cont2 .text .section_tit {
  padding-bottom: 20px;
}
.brand_cont2 .section2 {
  background: url(../../img/service/brand02_bg1.png) no-repeat calc(50% - 255px) 130%;
  padding-bottom: 70px;
}
.brand_cont2 .section2 .box_cont {
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 140px 0 150px;
  font-family: "Pretendard";
}
.brand_cont2 .section2 .box_cont .top_img {
  position: absolute;
  left: 25px;
  top: 0;
}
.brand_cont2 .section2 .box_cont > div:first-child {
  width: 60%;
}
.brand_cont2 .section2 .box_cont .left_box {
  text-align: right;
  padding-left: 45px;
}
.brand_cont2 .section2 .text strong {
  color: #006c68;
}
.brand_cont2 .section3 {
  padding: 0 0 170px;
  background: url(../../img/service/brand02_bg2.png) no-repeat 115% -56px;
}
.brand_cont2 .section3 .box_cont > div {
  width: 100%;
}
.brand_cont2 .section3 .box_cont .right_box div {
  display: inline-block;
}
.brand_cont2 .bottom_section {
  background: url(../../img/service/brand02_6_e.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 510px;
}
.brand_cont2 .bottom_section p {
  background: url(../../img/service/brand02_textbg.png) no-repeat 50% 0;
  padding-top: 43px;
  background-size: 26px;
  font-size: 22px;
  font-weight: 500;
}
.brand_cont2 .bottom_section p::after {
  content: "";
  height: 54px;
  display: block;
  margin: 0 auto;
  background: url(../../img/service/brand02_textbg.png) top center no-repeat;
  background-size: 26px;
  transform: rotate(180deg);
}

.brand_sub_title {
  font-size: 40px;
  margin-bottom: 0.4em;
}

/* .brand_cont3 .section1 .title {color:#242424;} */
.brand_cont3 .section2 .text {
  padding: 100px 0 75px;
}
.brand_cont3 .section2 p {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 40px;
}
.brand_cont3 .section3 img {
  width: 100%;
}
.brand_cont3 .section4 {
  background: url(../../img/service/brand03_bg.png) no-repeat 100% 0;
}
.brand_cont3 .section4 .box_cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 20px;
}
.brand_cont3 .section4 .box_cont + .box_cont {
  padding-top: 60px;
}
.brand_cont3 .section4 .inner {
  width: 1130px;
}
.brand_cont3 .section4 .inner .right_box {
  width: 41%;
}
.brand_cont3 .section4 .inner .left_box p + p {
  margin-top: 28px;
}
.brand_cont3 .hover_section {
  padding: 60px 0 185px;
}
.brand_cont3 .hover_section .section_tit {
  padding-bottom: 50px;
}
.brand_cont3 .hover_section .box_cont {
  display: flex;
  gap: 6px;
}
.brand_cont3 .hover_section .box_cont > a {
  display: block;
  position: relative;
}
.brand_cont3 .hover_section .box_cont > a:before {
  content: "";
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.4s;
}
.brand_cont3 .hover_section .box_cont > a:hover {
  cursor: context-menu;
}
.brand_cont3 .hover_section .box_cont > a:hover:before,
.brand_cont3 .hover_section .box_cont > a:hover .text_wrap {
  opacity: 0;
}
.brand_cont3 .hover_section .box_cont .text_wrap {
  opacity: 1;
  transition: opacity 0.4s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: -20px;
  color: #fff;
  text-align: center;
  width: 100%;
}
.brand_cont3 .hover_section .box_cont .tit_box p {
  font-size: 30px;
  font-weight: 600;
}
.brand_cont3 .hover_section .box_cont .tit_box span {
  font-size: 18px;
}
.brand_cont3 .hover_section .box_cont .text_box {
  font-size: 18px;
  font-weight: 300;
}
.brand_cont3 .hover_section .box_cont .text_box:before {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin: 27px auto 34px;
}

.point_label {
  display: block;
  margin: 0 0 -165px -100px;
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
}/*# sourceMappingURL=Brand.css.map */