.brand {
    width: 100%;

    .brand_section {
        font-size: 22px;
        word-break: keep-all;
        padding: 60px 0;

        .brand_title_wrap {
            position: relative;

            .brand_title {
                font-size: 54px;
                font-weight: 800;
                text-align: center;
                margin-bottom: 0.6em;
            }
        }
        .brand_sub_tit {
            // text-align: center;
            font-size: 32px;
            font-weight: 800;
            margin-bottom: 0.7em;
            line-height: 1.5;
        }

        .full_inner {
            text-align: center;

            p {
                line-height: 33px;
            }

            .brand_img {
                margin: 35px 0;
                text-align: center;

                &:first-child {
                    margin-top: 0;
                }

                img {
                    max-width: 100%;
                }
            }
        }
        .layout_inner {
            max-width: 1200px;
            margin: 0 auto;

            .brand_column_wrap,
            .brand_column_wrap_3 {
                display: flex;
                flex-wrap: wrap;
                margin: 30px -15px 0;
                /*padding: 30px 0;*/

                .brand_column,
                .column_1 {
                    padding: 0 15px;
                    margin: 20px 0;
                    box-sizing: border-box;

                    p + p {
                        margin-top: 0.8em;
                    }

                    dt {
                        font-size: 1.2em;
                        font-weight: bold;
                        margin-bottom: 0.5em;
                    }

                    .brand_img {
                        img {
                            max-width: 100%;
                        }
                    }
                }
                .brand_column,
                .column_2 {
                    .brand_sub_tit {
                        // text-align: center;
                        // font-size: 32px;
                        // font-weight: 800;
                        // margin-bottom: 0.7em;
                        // line-height: 1.5;
                    }
                    p {
                        line-height: 1.5;
                    }
                }
            }

            .brand_column_wrap_2 {
                .column_1 {
                    width: 50%;
                }
                .column_2 {
                    width: 100%;
                    text-align: center;
                }
                .column_3 {
                }
                &.line_column {
                    position: relative;
                    margin: 30px -60px;

                    &::after {
                        content: '';
                        width: 1px;
                        height: 100%;
                        background: #222;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transition: 1.2s;
                    }

                    &[data-aos]::after {
                        height: 0;
                    }
                    &[data-aos].aos-animate::after {
                        height: 100%;
                    }

                    & > .brand_column {
                        padding: 0 60px;
                        margin: 0;

                        &:first-child {
                            text-align: right;
                        }
                    }
                }
            }

            .brand_column_wrap_3 {
                .column_1 {
                    width: 33.333%;
                }
                .column_2 {
                    width: 66.667%;
                }
                .column_3 {
                    width: 100%;
                    text-align: center;
                }
            }

            .brand_column_wrap,
            .brand_column_wrap_3 {
                .brand_column,
                .column_1 {
                    .brand_img {
                    }
                }
                .brand_column,
                .column_1 {
                    .brand_img {
                    }
                }
                .brand_column,
                .column_1 {
                    .brand_img {
                    }
                }
                .brand_column,
                .column_3 {
                    .btn_more {
                    }
                }
            }
            .brand_column_wrap,
            .brand_column_wrap_3 {
                .brand_column,
                .column_3 {
                    .brand_sub_tit {
                    }
                }
            }
        }
    }

    .brand_section_01 {
        background: url(/assets/brand/brand_s1_bg.png) no-repeat 50% -50px;
        background-size: 90%;
        padding-top: 120px;

        .brand_column_wrap {
            &:first-child {
                align-items: flex-start;
                margin-bottom: -165px;
                position: relative;
                z-index: 2;

                .column_2 {
                    padding-top: 90px;
                }
            }

            &:nth-child(2) {
                .column_3 {
                    margin-top: 40px;
                }
            }

            &:nth-child(3) .column_1:nth-child(3) .brand_img,
            &:nth-child(3) .column_1:nth-child(4) .brand_img {
                margin-top: 43px;
            }
            &:nth-child(3) .brand_column:nth-child(4) p {
                margin-right: -20px;
            }
        }
    }
    .brand_section_02 {
        background: url(/assets/brand/brand_s4_bg.png) no-repeat 80% 100%;

        .brand_column_wrap:nth-child(2) .brand_column:last-child p {
            margin-right: -20px;
        }

        .full_inner:last-child {
            margin-top: 30px;
        }
    }
    .brand_section_03 {
        .brand_column_wrap:first-child .brand_column {
            margin-top: 50px;
        }

        .line_column {
            padding-bottom: 100px;
        }
    }
}

.align_center {
    text-align: center;
}
.btn_more {
    display: inline-block;
    height: 50px;
    padding: 0 50px;
    margin-bottom: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    background: #242424;
    color: #fff;
    font-weight: 500;
}

/*
    ! service.css
    ! 나중에 따로 분리
*/

.brand_cont {
    font-size: 22px;

    .section1 {
        position: relative;

        .page_link_wrap {
            position: absolute;
            left: 100px;
            top: 50%;
            z-index: 1;
            transform: translate(0, -50%);

            /* margin-left: -700px;  */
            z-index: 5;

            li {
                position: relative;
                padding: 8px 0;

                + li:before {
                    content: '';
                    position: absolute;
                    left: 17px;
                    top: -18px;
                    width: 1px;
                    height: 36px;
                    background: #c0c6c6;
                }

                a {
                    display: inline-block;
                    vertical-align: top;
                    padding: 10px 0;
                    color: rgba(36, 36, 36, 0.5);
                    font-size: 18px;
                    font-weight: 500;
                }

                &.active {
                    a {
                        font-weight: 600;
                        color: #242424;
                    }

                    .num {
                        background: #303030;
                    }
                }

                .num {
                    display: inline-block;
                    width: 34px;
                    height: 34px;
                    border-radius: 50%;
                    box-sizing: border-box;
                    line-height: 32px;
                    margin-right: 20px;
                    font-size: 15px;
                    color: #fff;
                    background: #3030304d;
                    border: 1px solid #30303080;
                    text-align: center;
                }
            }

            &.white li {
                + li:before {
                    background: #ffffff80;
                }

                a {
                    color: rgba(255, 255, 255, 0.6);
                    font-weight: 400;
                }

                .num {
                    border: 1px solid #fff;
                    background: rgba(255, 255, 255, 0.3);
                }

                &.active {
                    a {
                        color: #fff;
                    }

                    .num {
                        background: #0ad09c;
                        border-color: #0ad09c;
                    }

                    a {
                        font-weight: 500;
                        opacity: 1;
                    }
                }
            }
        }

        .img_wrap img {
            width: 100%;
        }

        .title {
            font-size: 75px;
            font-weight: bold;
            color: #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            text-shadow: 0 0 15px black;
            z-index: 3;
        }
    }

    .inner {
        width: 1200px;
        margin: 0 auto;
    }

    .t-center {
        text-align: center;
    }

    .t-right {
        text-align: right;
    }

    .t-left {
        text-align: left;
    }
}

.section_tit {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.hover_section .img_wrap img {
    width: 100%;
}

.bottom_section {
    position: relative;

    p {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;
        font-weight: 300;
        width: 100%;
    }
}

.page_btn {
    display: flex;
    background: #202020;
    padding: 0 95px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    a {
        display: block;
        width: 100%;
        color: #fff;
        font-size: 40px;
        padding: 90px 0 90px;

        + a {
            text-align: right;
            border-left: 1px solid rgba(255, 255, 255, 0.1);
        }
    }

    p small {
        display: block;
        font-size: 0.6em;
    }

    a img {
        display: inline-block;
        margin-top: 30px;
    }
}

/* //공통 */

.brand_cont1 {
    .section1 .img_wrap {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(60deg, #000, transparent 40%);
            opacity: 0.45;
        }
    }

    .section2 {
        background: url(../../img/service/brand01_map_bg1.png) no-repeat 50%
            300px;

        .box_cont {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            > div {
                width: 50%;
            }
        }
    }

    .text {
        padding: 85px 0 100px;
    }

    .section2 .box_cont {
        strong {
            font-size: 35px;
            color: #006c68;
            font-weight: 900;
            font-family: 'Pretendard';
            padding: 7px 0 5px;
            display: inline-block;
        }

        p + p {
            padding-top: 62px;
        }

        padding: 64px 0 60px;
    }

    .section3 {
        background: url(../../img/service/brand01_img_bg.png) no-repeat 50% 100%;
        padding-bottom: 222px;

        .box_cont {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            > div {
                width: 50%;
                padding-top: 15px;
            }

            .right_box p {
                padding-left: 25px;
            }

            .left_box p {
                padding-right: 25px;
            }
        }
    }

    .section4 {
        padding: 130px 0 140px;
        background: url(../../img/service/edinburgh_bg.png) no-repeat 50% 50%;
        background-size: cover;

        .box_cont {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            color: #444444;
            padding-top: 80px;

            .right_box {
                width: 48%;
            }
        }
    }

    .section5 {
        padding: 120px 0 160px;

        .box_cont {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            color: #242424;
            padding-top: 80px;
        }

        .popup_btn {
            display: flex;
            align-items: center;
            font-size: 20px;
            margin: 60px 0 0;
            cursor: pointer;

            img {
                margin-left: 74px;
            }
        }

        .box_cont .right_box {
            position: relative;
        }
    }

    .hover_section {
        padding-bottom: 120px;

        .box_cont {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 6px;

            > div {
                position: relative;
            }
        }

        .text_box {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            z-index: 2;
            text-align: center;
            width: 100%;
        }

        .tit {
            display: block;
            width: 100%;
            font-size: 28px;
            font-weight: 600;
        }

        .text {
            opacity: 0;
            height: 0;
            width: 100%;
            font-size: 20px;
            transition: all 0.4s;
            padding: 15px 0 0;
            font-weight: 300;
        }

        .box_cont > div {
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.6);
                z-index: 1;
                opacity: 0;
                transition: opacity 0.4s;
            }

            &:hover {
                &:before {
                    opacity: 1;
                }

                .text {
                    opacity: 1;
                    height: auto;
                }
            }
        }
    }

    .bottom_section {
        background: url(../../img/service/bottom_bg1.jpg) no-repeat 50% 50%;
        background-size: cover;
        font-size: 30px;
        height: 560px;
    }
}

.brand_cont3 .bottom_section {
    background: url(../../img/service/bottom_bg1.jpg) no-repeat 50% 50%;
    background-size: cover;
    font-size: 30px;
    height: 560px;
}

.brand_cont1 .bottom_section:before,
.brand_cont3 .bottom_section:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}

#brand_pop {
    display: none;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    background: #efefeb;
    z-index: 111;
    height: 100vh;
    min-height: 400px;
    overflow: auto;
    width: 100%;

    h2 {
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        padding: 60px 0 10px;
    }

    h3 {
        font-size: 50px;
        text-align: center;
        font-weight: 500;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        width: 1420px;
        margin: 0 auto 220px;

        li {
            width: 33.333%;
            text-align: center;

            p {
                font-size: 30px;
                font-weight: 600;
                padding: 33px 0 15px;
            }

            span {
                font-size: 20px;
                font-weight: 500;
                font-family: 'Pretendard';
            }
        }
    }

    .popup_cont > img {
        width: 100%;
    }

    .close_btn {
        position: absolute;

        /*right:60px; top: 70px;*/
        right: 3%;
        top: 5.5%;
        cursor: pointer;
        display: block;
        width: 50px;
        height: 50px;

        &:before {
            content: '';
            display: inline-block;
            height: 45px;
            width: 2px;
            display: inline-block;
            background: #222;
            transform: rotate(45deg);
            margin-left: 21px;
        }

        &:after {
            content: '';
            display: inline-block;
            height: 45px;
            width: 2px;
            display: inline-block;
            background: #222;
            transform: rotate(-45deg);
        }
    }
}

.brand_cont2 {
    .box_cont {
        display: flex;
        align-items: center;
    }

    .section1 .title {
        margin-top: -140px;
        color: #242424;
        text-shadow: 0 0 15px white;
    }

    .text {
        padding: 85px 0 100px;

        .section_tit {
            padding-bottom: 20px;
        }
    }

    .section2 {
        background: url(../../img/service/brand02_bg1.png) no-repeat
            calc(50% - 255px) 130%;
        padding-bottom: 70px;

        .box_cont {
            align-items: flex-end;
            justify-content: space-between;
            position: relative;
            width: 100%;
            padding: 140px 0 150px;
            font-family: 'Pretendard';

            .top_img {
                position: absolute;
                left: 25px;
                top: 0;
            }

            > div:first-child {
                width: 60%;
            }

            .left_box {
                text-align: right;
                padding-left: 45px;
            }
        }

        .text strong {
            color: #006c68;
        }
    }

    .section3 {
        padding: 0 0 170px;
        background: url(../../img/service/brand02_bg2.png) no-repeat 115% -56px;

        .box_cont {
            > div {
                width: 100%;
            }

            .right_box div {
                display: inline-block;
            }
        }
    }

    .bottom_section {
        background: url(../../img/service/brand02_6_e.jpg) no-repeat 50% 50%;
        background-size: cover;
        height: 510px;

        p {
            background: url(../../img/service/brand02_textbg.png) no-repeat 50%
                0;
            padding-top: 43px;
            background-size: 26px;
            font-size: 22px;
            font-weight: 500;

            &::after {
                content: '';
                height: 54px;
                display: block;
                margin: 0 auto;
                background: url(../../img/service/brand02_textbg.png) top center
                    no-repeat;
                background-size: 26px;
                transform: rotate(180deg);
            }
        }
    }
}

.brand_sub_title {
    font-size: 40px;
    margin-bottom: 0.4em;
}

/* .brand_cont3 .section1 .title {color:#242424;} */

.brand_cont3 {
    .section2 {
        .text {
            padding: 100px 0 75px;
        }

        p {
            font-size: 45px;
            font-weight: 700;
            line-height: 1.2;
            padding-bottom: 40px;
        }
    }

    .section3 img {
        width: 100%;
    }

    .section4 {
        .box_cont {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 50px 0 20px;

            + .box_cont {
                padding-top: 60px;
            }
        }

        background: url(../../img/service/brand03_bg.png) no-repeat 100% 0;

        .inner {
            width: 1130px;

            .right_box {
                width: 41%;
            }

            .left_box p + p {
                margin-top: 28px;
            }
        }
    }

    .hover_section {
        padding: 60px 0 185px;

        .section_tit {
            padding-bottom: 50px;
        }

        .box_cont {
            display: flex;
            gap: 6px;

            > a {
                display: block;
                position: relative;

                &:before {
                    content: '';
                    opacity: 1;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.6);
                    transition: opacity 0.4s;
                }

                &:hover {
                    cursor: context-menu;

                    &:before,
                    .text_wrap {
                        opacity: 0;
                    }
                }
            }

            .text_wrap {
                opacity: 1;
                transition: opacity 0.4s;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                margin-top: -20px;
                color: #fff;
                text-align: center;
                width: 100%;
            }

            .tit_box {
                p {
                    font-size: 30px;
                    font-weight: 600;
                }

                span {
                    font-size: 18px;
                }
            }

            .text_box {
                &:before {
                    content: '';
                    display: block;
                    width: 30px;
                    height: 3px;
                    background: #fff;
                    margin: 27px auto 34px;
                }

                font-size: 18px;
                font-weight: 300;
            }
        }
    }
}

.point_label {
    display: block;
    margin: 0 0 -165px -100px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
}
