.productdetail {
    // padding-bottom: 80px;
    padding: 0 95px 80px 95px;
    min-height: 400px;

    .sub_content {
        width: 100%;

        .content {
            padding-top: 30px;
            width: 100%;
            min-height: 500px;
            padding: 0;
        }
    }
}